/*Overall Styles*/

html {
  background-color:#020659;
  color:#FFFFFF;
  font-family:'Raleway', 'Optima', sans-serif;
}

body {
  background-color:#FFFFFF;
  width:375px;
  margin:auto;
}

h1, h2 {
  text-transform:uppercase;
  font-weight:bold;
  font-size:20px;
}

h3 {
  text-transform:uppercase;
  font-weight:bold;
  font-size:16px;
}

/*Navigation*/

header {
  background-image:linear-gradient(to right, #2104D9, #030A8c, #020873, #020659);
  padding-top:60px;
  padding-bottom:5px;
  padding-left:25px;
  padding-right:25px;
}

nav h2 {
  visibility:hidden;
  height:1px;
}

nav {
  background-color:#030A8c;
  text-transform:uppercase;
  width:375px;
  height:62px;
  position:absolute;
  top:0px;
  z-index:1;
}

nav ul {
  text-align: center;
  margin-top:-8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #2104D9;
  max-height: 0;
  transition: max-height .2s ease-out;
}

li a {
  display:block;
  padding: 20px 20px;
  text-decoration:none;
  color: #FFFFFF;
}

[href="#home"] {
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 90px;
  padding: 16px 16px;
}

nav a:hover, input:hover {
  color:#590242;
}

label {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  margin-top: -10px; 
  position: relative;
  user-select: none;
}

label span {
  background-color: #FFFFFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
  width: 18px;
}

label span:before, label span:after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}  
label span:before {
  top: 5px;
}

label span:after {
  top: -5px;
}

input {
  display: none;
}

input:checked ~ ul {
  max-height: 500px;
}

input:checked ~ label span {
  background: transparent;
}

input:checked ~ label span:before {
  transform: rotate(-45deg);
}

input:checked ~ label span:after {
  transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
  top: 0;
} 

/*Main Page*/

main {
  color:#590242;
}

#trending {
  padding-left:5px;
}

dl {
  display: flex;
  margin-top: -10px; 
}

dt {
  font-weight: light;
  font-style: italic;
  font-size: 16px;
  padding-right: 5px;
}

dd {
  font-size: 16px;
  margin: 0;
}

.more {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  background-color: #590242;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  display: block;
  text-align: center;
  margin: 10px 0 30px 32px;
}

.more:hover {
  background-color: #020659;
}

#yours {
  background-color:#0D8DFB;
  color:#FFFFFF;
}

#curated {
  background-color:#030A8C;
  color:#FFFFFF;
}

footer {
  color:#590242;
  text-align:center;
  padding-bottom:5px;
}

/*Scrolling*/

#trending ::-webkit-scrollbar {
  width: 15px;
}

#trending ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px #590242;
} 

#trending ::-webkit-scrollbar-thumb {
  background: #590242;
  border-radius: 5px; 
}

#trending ::-webkit-scrollbar-thumb:hover {
  background: #020659;
}

#yours ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
  width: 15px;
}

#yours ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px #020659;
}

#yours ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
  background: #020659;
  border-radius: 5px;
}

#yours ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}

#yours .scroll {
  background-color: #2699FB;
}

#curated .scroll {
  background-color: #030A8C;
}

#yours section {
  background-color: #0D8DFD;
  text-align: center;
  padding: 10px;
}

#curated section {
  background-color: #020873;
  text-align: center;
  padding: 10px;
}

.scroll {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll section {
  margin: 10px;
  position: relative; 
}

.scroll div {
  position: absolute;
  top: 251px;
  background-color: rgba(255,255,255,.75);
  padding: 5px;
  height: 50px;
  width: 350px;
}

/*Audio*/

audio::-webkit-media-controls-mute-button {
  background-color: #FFFFFF;
  border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
  background-color: #FFFFFF;
  border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
  background-color: rgba(255,255,255,.5);
}